<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Fac2</display-name>
    <servlet-name>Fac2</servlet-name>
    <servlet-class>fac1.Fac2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fac2</servlet-name>
    <url-pattern>/Fac2</url-pattern>
  </servlet-mapping>
</web-app>